/* Style sheet for booking form */

html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}

.mainBooking {
    min-height: 100%;
    position: relative;
    width: 100vw;
    background-color: whitesmoke;
}

.booking {
    width: 250px;
    margin: 0 auto; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding: 20px;
    color: rgb(65, 59, 59);
    background-color: white; 
    position: relative;
    border: 2px solid rgb(65, 59, 59);
    border-radius: 4px;
    
}


#bookingform {
    width: auto;
    margin: 0 auto;
    position: relative;
}

#bookingform label {
    font-size: 16px;
}

#alertPersons,#alertTime, #alertDate {
     font-size: 12px;
     color: rgb(182, 44, 44);
     margin-top: 0px;
}

#bookingform input[type="text"], input[type="tel"], input[type="email"]  {
    width: 240px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid rgb(65, 59, 59);
    margin-bottom: 10px;
}

#bookingform input[type="date"] {
    width: 244px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid rgb(65, 59, 59);
    cursor: pointer;

}

#bookingform input[type="radio"] {
    cursor: pointer;

}

#bookingform select {
    width: 250px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid rgb(65, 59, 59);
    cursor: pointer;
}


#torget{
    margin-bottom: 10px;
}

/* Make size fixed*/
#bookingform textarea {
    width: 240px;
    height: 100px;
    resize: none;
    border-radius: 4px;
    border: 2px solid rgb(65, 59, 59);
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#submitBooking {
    border-radius: 15px;
    border: none;
    color:  rgb(229, 226, 226);
    background-color: rgb(65, 59, 59);
    padding: 5px;
    width: 250px;
    text-align: center;
    cursor: pointer;
}

#submitBooking:hover {
    background-color: rgb(46, 41, 41)
}

#alertPersons {
    margin-top: 0px;
}

.reqStar {
    color: rgba(255, 166, 0, 0.808);
    font-size: 18px;
    margin-right: 5px;
}

#reqFields {
    font-size: 12px;
    margin-bottom: 15px;
}

#bookingdetails {
    margin-bottom: 0px;
}

label[for="checkterms"] {
    font-size: 12px;
}


.popupbox{
    display:none;
    position: fixed;
    z-index:1;
    padding-top: 100px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0, 0.4);

}

.popupcontent{
    border: 1px solid;
    margin: auto;
    padding: 30px;
    width: 70%;
    background-color: #fefefe;
    position: relative;
}
.close{
    float: right;
    font-size: 28px;
}
.close:hover,.close:focus{
    color: #000000;
    cursor: pointer;
}


/*--------------- NAVBAR ------------------*/

.topnav {
    overflow: hidden; 
    background-color:rgb(65, 59, 59);
    /* height: 120px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.topnav a {
    float: left;
    display: block; 
    /* margin: 80px 70px 30px 0px; */
    padding: 14px 16px; 
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in;
    font-weight: bold;
    font-size: 24px;

}
.responsive {
    background-color:rgb(65, 59, 59);
}
.responsive a{
    float: none; 
    display: block; 
    text-align: left; 
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in;
    font-weight: bold;
    font-size: 24px;
    width: 100%; 
}

.responsive a:hover {
    background-color:rgb(95, 91, 91);
}
.topnav a:hover{
    background-color:rgb(95, 91, 91);
}


/* #navLogo{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
    height: 100px;
} */

/* Responsice design for navbar */

#navBurger {
    height: 30px; 
    padding: 15.5px 16px; 
    margin: none;
    display: none; 
    cursor: pointer; 
}

#navBurger:hover {
    background-color: rgb(95, 91, 91);
}

@media screen and (max-width: 750px) {
    .topnav a:not(:first-child) {display: none;}
    #navBurger {
        float: right; 
        display: block; 
    }
}

@media screen and (max-width: 750px) {
    .topnav .responsive {position:relative;}
    .topnav .responsive {
        position: absolute; 
        right: 0; 
        top: 0; 
    } 

    #navBurger{
        position: absolute; 
        right: 0; 
        top: 0; 
    } 

    .topnav .responsive a {
        float: none;
        display: block;
        text-align: left;
      }
}

/* -------------FOOTER--------------- */
#footer {
    width: 100vw;
    background-color: rgb(65, 59, 59);
    color: white;
    position: absolute;
    font-size:  18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#foot_content div{
     display: inline-block;
     margin-right: 30px;
     padding-top: 15px;
}

#footer img{
    height: 20px;
    margin: 15px;
    margin-right: 10px;
    display: inline;
    height: 30px;
}

/*--------------------HOMEPAGE-------------------------*/

.containerHomepage1 {
    border-width: 2px;
    height: 110vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: black; 
  }

  .insertBurger{
    width: 100vw;
    height: 110vh;
    position: absolute;
    opacity: 0.6; 
  }

#welcome {
    margin: 0 auto; 
    width: 100vw; 
    position: relative; 
    text-align: center;
    top: 50px;  
}

#welcome h3 {
    margin: 0 auto; 
    font-size: 40px; 
    color: white; 
    background-color: black; 
    opacity: 0.8;
    padding: 20px 10px; 
    width: 40%;
}
#logoFront {
    width: 40%; 
    opacity: 0.75; 
}
  .openingHours {
      display: flex;
      place-content: center;
      width: 300px;
      height: 220px;
      border-width: 8px;
      border-color: rgb(65, 59, 59);
      border-style: solid;
      background-color: black;
      opacity: 0.8  ;
      position: absolute;
      right: 20px;
      bottom: 10px;
      color: white; 
      font-size: 20px;
  }

  #tableOpening{
    font-size: 10px;
    text-align: center; 
    font-size: 14px;
  }

  #openingHeader{
      margin: 5px;
  }

  .containerHomepage2  {
    display: flex; 
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    }

    .blockHomepage {
        display: inline-block;
        width: 300px;
        height: 360px;
        margin: 8px;
        padding: 50px 30px 10px;
        margin-top: 60px;
        position: relative;
    }

    @media screen and (max-width: 950px) {
        .facemask {
            right: -400px;
            top: 30px;
            position: absolute;
            width: 350px !important;
        }
    }

    @media screen and (max-width: 950px) {
        .burgerTester {
            right: -320px;
            top: 30px;
            position: absolute;
            width: 210px !important;
        }
    }

    @media screen and (max-width: 950px) {
        .discount {
            right: -335px;
            top: 30px;
            position: absolute;
            width: 230px !important;
        }
    }

   



    @media screen and (max-width: 950px) {
        .blockHomepage {
            height: 220px;
            margin: 20px;
        }
    }


    .containerHomepage2 h2{
      font-size: 20px;
      margin: 0px;
    }

    .containerHomepage2 p{
      font-size: 15px;
    }

    /*This code section is inspired by https://www.ostraining.com/blog/coding/multi-colored-css-borders/*/
    .blockHomepage:before { 
      content: " ";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 5px solid #e1c447;
    }


/* Responsive design for info boxes */

@media screen and (max-width: 950px) {
    .containerHomepage2 {
        display: flex; 
        flex-direction: column; 
        justify-content: center;

    }
}

/*-------------ABOUT US------------------------*/

.mainabout {
    display: flex;
    justify-content: center;
    overflow: auto;
    min-height: 100%;
    padding-bottom: 200px;
    margin-bottom: -200px;
    scroll-behavior: smooth;
    width: 100vw;
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(65, 59, 59)
}

.infoBox {
    background-color: white;
    width: 35vw;
    height: 40%;
    margin: 40px;
    margin-top: 40px;
    text-align: left;
    padding: 1rem;
    /*box-shadow: 5px 5px 15px 5px #16325d;*/
}

.infoBox p{
    line-height: 1.8;
}

.locationSlideshow{
    background-color: white;
    width: 50vw;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.infoBox h2, .locationSlideshow h2 {
    text-align: center;
}

/*LOCATION SLIDESHOW*/
.slideshow-container {
    max-width: 700px;;
    position: relative;
    margin: auto;
    height: 550px;
}

.locSlide {
    display: none;
}

.locSlide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.locText {
    position: absolute;
    bottom: 15%;
    max-width: 100%;
    padding: 8px 12px;
    text-align: center;
    color: #f2f2f2;
    background-color: rgba(207, 39, 47,0.7);

    font-size: 15px;
}



.slideButton {
    position: absolute;
    bottom: 50%;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3em;
    cursor: pointer;

    transition: 0.5s ease;

}
.slideButton + .slideButton{
    right: 0%;
}

.slideButton:hover {
    color: #cf272f!important;
    outline: white;
    background-color: whitesmoke !important;
}

.fader {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation: fading 5s infinite;
}

/* ---------MENU------------ */

.mainmenu {
    min-height: 100%;
    position: relative;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(65, 59, 59);
    background-color: whitesmoke;
    }

.fixedsidebar {
    background-color: rgb(65, 59, 59);
    margin-left: 32px; 
    width: 250px; 
    position: absolute; 
    padding: 10px;   
    color: whitesmoke
}

.fixedsidebar a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 14px;   
}

.fixedsidebar a:hover {
    text-decoration: underline;
}

.fixedsidebar img{
    width: 14px; 
    margin-right: 3px; 
}
#burgers {
    width: 40%; 
    height: auto;
    display: flex; 
    flex-direction: column;
    overflow: hidden; 
    margin: 0 auto; 
    margin-left: 350px; 
    position: relative;
    margin-top: 20px;   
}

.bicons {
    width: 20px; 
}

.burger {
    margin: 0px; 
    background-color: white; 
    margin-bottom: 50px; 
    padding: 10px; 
    height: auto;  
}
.burgerImg {
    width: 300px; 
    height: auto; 
    float: left; 
    margin-right: 15px; 
}

#burgers span {
    font-weight: bold; 
}
#extras {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#chipsmenu, #dipsmenu, #sidekicker {
    width: 300px; 
    margin: 0 auto; 
    display: inline-block; 
    place-content: center;  
    background-color: white; 
    padding: 10px; 
    margin-bottom: 10px; 
}
#extras .price {
    font-weight: bold;  
}

#randSelect {
    background-color: white;
}
  /* .bokx {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Josefin Sans:ital,wght@1", sans-serif;
  }

  .bokx-seperation {
    background: rgb(245, 245, 245);
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(52, 127, 188, 1) 100%
    );
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
  }

  .seperation {
    visibility: hidden;
  }

  .bokx h2 {
    font-size: 30px;
    padding-top: 30px;
  }

  .bokx h3 {
    margin-top: 30px;
    font-size: 25px;
  }

  .bokx div p {
    font-size: 20px;
    margin-left: 2rem;
    text-align: left;
    line-height: 1.5;
    width: 400px;
  }

  .bokx div img {
    margin: 2rem;
    border-radius: 60px;
    box-shadow: 8px 8px 8px #cf272f;
  }

  div div img {
    width: 400px;
    display: flex;
    justify-content: center;
  }

  .bokx div sup a {
    text-decoration: none;
    color: #cf272f;
    border-radius: 20px;
    font-family: "Bangers", cursive;
    font-size: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .bokx div sup a:hover {
    background-color: #555;
  } */
  #btnSearch {
    margin-top: 1rem;
    box-shadow: none;
    width: 100px;
    border: solid #cf272f;
    border-radius: 60px;
  }

  #messageBurgerImage {
    border: groove red;
    box-shadow: none;
    width: 80px;
  }

  #messageBurger {
    text-align: center;
    border: black groove;
    font-family: "Bangers", cursive;
    margin-bottom: 2rem;
  }

  #messageBurgerImg {
    width: 400px;
    box-shadow: none;
    margin-top: 1rem;
    box-shadow: 0px 0px 32px 7px rgba(207, 39, 47, 1);
  }



  /* ----------------CONTACT--------------------- */
  .main {
    min-height: 100%;
    position: relative;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(65, 59, 59);
    background-color: whitesmoke;
    }
  .popupbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.popupcontent {
    border: 1px solid;
    margin: auto;
    padding: 30px;
    width: 30%;
    border-radius: 30px;
    border: 3px solid;
    background-color: #fefefe;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.close {
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}

#burgerpopcon {
    position: absolute;
    left: 60%;
    width: 150px;
    height: 150px;
}
/*kontakt info box*/

.flexcontainerCon {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.infobox {
    font-size: 13px;
    border: 1px solid;
    border-radius: 4px;
}

#infobox1 {
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    background-color: white;
    border: none;

}

#infobox2 {
    padding: 12px 20px;
    margin: 10px;
    width: 40%;
    border: none;
    background-color: white;
}
/*Info boks*/

.flexcontainerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.conbox {
    border: 1px solid;
    border-radius: 4px;
}

#lookbox {
    text-align: center;
    padding: 12px 20px;
    width: 40%;
    border-radius: 20px;
    border: 3px solid;
}

#resbox {
    text-align: center;
    padding: 20px 20px;
    border-radius: 20px;
    border: 3px solid;
}
/*Map og Form boks*/

.flexcontainerFormMap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 40px;
    border: 2px solid rgb(65, 59, 59);
    border-radius: 4px; 
}

.flexcontainerFormMap a {
    text-decoration: none;
}

.flexcontainerFormMap a:hover {
    text-decoration: underline;
}

.flexcontainerFormMap a:visited {
    text-decoration: none;
    color: rgb(65, 59, 59);
}

/*Form*/

#formbox {
    width: 40%;
}

#conform input[type="text"] {
    width: 90%;
    padding: 8px;
    display: inline-block;
    border: 2px solid rgb(65, 59, 59);
    border-radius: 4px;
}

#conform input[type="e-mail"] {
    width: 90%;
    padding: 8px;
    display: inline-block;
    border: 2px solid rgb(65, 59, 59);
    border-radius: 4px;
}

#conform input[type="number"] {
    width: 90%;
    padding: 8px;
    display: inline-block;
    border: 2px solid rgb(65, 59, 59);
    border-radius: 4px;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#conform textarea {
    width: 85%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid rgb(65, 59, 59);
    border-radius: 4px;
    resize: none;
}

input[type="submit"] {
    border-radius: 15px;
    border: none;
    color:  rgb(229, 226, 226);
    background-color: rgb(65, 59, 59);
    padding: 5px;
    width: 95%;
    text-align: center;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(46, 41, 41);
}


/*Bare map boks*/

.flexcontainerMap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



#conmap1 {
    margin: 10px;
}

#conmap2 {
    margin: 10px;
}

#wherehead {
    margin: 10px;
}
/*Header over kontakt info*/


#contactInfo {
    background-color: white; 
    margin-left: 40px; 
    margin-right: 40px;
    margin-bottom: 10px;  
    padding: 20px; 
    padding-left: 100px; 
    border: 2px solid rgb(65, 59, 59);
    border-radius: 4px; 
}
/*body*/

